.college-card {
  --margin-x: 16px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
}

.college-card,
.college-card__loading-wrapper {
  width: 640px;
  --margin-x: 16px;
  --margin-y: 32px;
  will-change: auto;
  min-height: 380px;
  border-radius: 4px;
  box-sizing: border-box;
  border: solid 1px #d3d3d3;
  margin: 32px var(--margin-x);
  transition: all 0.3s ease-in-out;
}

.college-card:hover {
  box-shadow: 0 5px 19px rgba(68, 68, 68, 0.3);
}

/* loading */

.college-card__loading-text {
  padding: 16px;
}

.college-card__loading {
  width: 100%;
  border-radius: 4px;
  background: #e2e2e2;
}
.loading-image {
  height: 236px;
}
.loading-title {
  width: 50%;
  height: 18px;
  margin-bottom: 12px;
}
.loading-subtitle {
  width: 60%;
  height: 12px;
  margin-bottom: 12px;
}
.loading-ribbon {
  width: 75%;
  height: 32px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* card image */

.college-card__image {
  width: 100%;
  height: 236px;
  overflow: hidden;
  position: relative;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.college-card__image img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  filter: brightness(30%);
}

.college-card__image-item {
  bottom: 0;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

/* promoted ribbon */

.college-card__ribbon {
  top: 0;
  z-index: 2;
  right: -8px;
  width: 110px;
  height: 32px;
  display: flex;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  align-items: center;
  padding: 0px 24px 0px 0px;
  justify-content: flex-end;
  text-transform: uppercase;
  background-color: #68a7ff;
  transform: translate3d(0, -50%, 0);
  clip-path: polygon(100% 0%, 100% 100%, 0 100%, 15% 50%, 0 0);
}

.college-card__ribbon--shadow {
  top: 15px;
  z-index: 1;
  width: 8px;
  right: -8px;
  height: 8px;
  position: absolute;
  background-color: #1c6ad5;
  clip-path: polygon(0 0, 100% 0, 100% 10%, 0% 100%);
}

.college-card__remarks {
  top: 32px;
  right: 16px;
  width: 72px;
  height: 52px;
  display: flex;
  border-radius: 4px;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #f5a626;
}

.college-card__remarks__text {
  height: 46px;
  font-size: 13px;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
}

.college-card__remarks__text--bold {
  font-size: 18px;
  font-weight: bold;
}

.college-card__details {
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0px 16px 10px 16px;
  justify-content: space-between;
}

.college-card__details__general,
.college-card__details__price {
  padding-top: 16px;
}

.college-card__name-wrapper {
  font-size: 18px;
  color: #444444;
  line-height: 18px;
  padding-bottom: 16px;
}

.college-card__name {
  padding-right: 12px;
}

.college-card__nearest {
  color: #444444;
  padding-bottom: 18px;
}

.college-card__nearest-famous {
  color: #adadad;
  padding-bottom: 12px;
}

.college-card__nearest-match {
  font-weight: bold;
  color: #37b396;
}

.college-card__nearest--bold {
  font-weight: bold;
  color: #444444;
}

.college-card__nearest-muted {
  color: #adadad;
}

.college-card__star-group {
  white-space: nowrap;
}

.college-card__tag-group {
  height: 34px;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 12px 16px;
  justify-content: flex-start;
}

.college-card__tag {
  color: #444444;
  text-align: left;
  margin-right: 8px;
  padding: 10px 16px;
  border-radius: 16px;
  background-color: #ffffff;
}

.college-card__tag::first-letter {
  text-transform: capitalize;
}

.college-card__offer-ribbon {
  max-width: 100%;
  color: #444444;
  margin-left: -16px;
  padding: 10px 16px;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  background-color: #ccf5e7;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.college-card__ranking {
  text-align: left;
  color: #ffffff;
  padding: 0px 16px;
}

.college-card__offer--green {
  color: #4bb89e;
}

.college-card__offer--muted {
  font-weight: normal;
}

.college-card__offer--button {
  cursor: pointer;
  color: #1999d2;
}

.college-card__details__price {
  flex-grow: 1;
  text-align: right;
}

.college-card__discount-fees {
  font-size: 28px;
  color: #dd1c26;
  line-height: 28px;
  padding-bottom: 8px;
}

.college-card__discount-wrapper {
  padding-bottom: 10px;
  justify-content: flex-end;
}

.college-card__discount {
  color: #ffffff;
  margin-left: 8px;
  position: relative;
  padding: 1px 6px 1px 16px;
  background-color: #dd1c26;
  clip-path: polygon(28% 0, 100% 0, 100% 98%, 28% 100%, 0% 50%);
}

.college-card__discount-dot {
  top: 4px;
  left: 8px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
}

.college-card__original-fees {
  text-decoration: line-through;
}

.college-card__original-fees,
.college-card__fees-cycle {
  color: #444444;
}

.college-card__amenties {
  color: #37b396;
  padding-top: 20px;
}

/* text classes */

.light-text {
  font-size: 13px;
  line-height: 13px;
}

.thin-text {
  font-size: 11px;
  line-height: 11px;
}

.bold-text {
  font-weight: bold;
}

/* flex classes */
.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

@media (min-width: 640px) {
  .college-card {
    --margin-x: 12px;
  }
}

@media (min-width: 768px) {
  .college-card {
    --margin-x: 24px;
  }
}
